*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  } 
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    z-index: -1;
    left: 0;
    background-color: transparent;
  }  
  .right {
    right: 0;
    background-color: transparent;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centered img {
    width: 300px;
  }
  .background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.background-clip{
        width: auto;
        height: 100%;
    }
.background-clip{
        width: 100%;
        height: auto;
    }

    .container1
{
    justify-content: center;
align-items: center;
    background: #ffffff70;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}
.profile-photo1 img{
    height: 500px;
    width: 500px;
}
.container1{
    position: relative;
    width: 550px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container2
{
    left: -20px;
    justify-content: center;
align-items: center;
    background: #ffffff70;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}
.container2{
    position: relative;
    width: 500px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(31, 30, 30);
    margin:  6px 0 5px 0;
}
.position2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(31, 30, 30);
    margin:  6px 0 5px 0;
}
.discription2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(31, 30, 30);
    margin:  6px 0 5px 0;
}
<!--size and format again -->