.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.background-clip{
        width: auto;
        height: 100%;
    }
.background-clip{
        width: 100%;
        height: auto;
}
<!--loading screen animation -->